body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-title {
  font-size: 25px;
  font-weight: bold;
}

.main-subtitle {
  font-size: 18px;
  font-weight: bold;
}

.main-description {
  font-size: 14px;
  font-style: italic;
  color: gray;
}

a {
  color: #2F7BB0;
  text-decoration-color: transparent;
  transition: all 0.2s ease;
}

a:hover {
  text-decoration-color: #2F7BB0;
}

.block {
  padding: 10px;
  box-shadow: 0 0 5px 2px rgba(143,143,143,0.4);
}