.podcast-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 200px;
    width: 200px;
    cursor: pointer;
}

.podcast-content {
    height: 55%;
    position: relative;
    padding: 40px 10px 5px;
    box-shadow: 0 0 5px 2px rgba(143,143,143,0.4);
    transition: all 0.2s ease;
    color: black;
    text-decoration: none;
}

.podcast-content:hover {
    box-shadow: 0 0 15px 2px rgba(143,143,143,0.4);
}

.podcast-image {
    position: absolute;
    border-radius: 9999px;
    overflow: hidden;
    top: -30px;
    transform: translateX(calc(50% + 20px));
}

.podcast-title {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;

}

.podcast-author {
    font-size: 14px;
    color: gray;
}